/*
# ------------------ BEGIN LICENSE BLOCK ------------------
#
# This file is part of PluXml : https://www.pluxml.org
#
# Package		plucss.css
# Version		1.3
# Copyright (c)	2014-2017 PluXml
# Authors		Jos, Stéphane F
# Licensed under the GPL license.
# See http://www.gnu.org/licenses/gpl.html
#
# ------------------- END LICENSE BLOCK -------------------
*/

/* ---------- RESET CSS ---------- */

*,
*:after,
*:before {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	margin: 0;
}
a {
	background: transparent;
}
a:active,
a:hover {
	outline: 0;
}
abbr {
	border-bottom: none;
	cursor: help;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bold;
}
blockquote {
	font-style: italic;
}
code,
kbd,
pre,
samp {
	font-family: monospace;
	font-size: 1.5rem;
}
details,
main,
summary {
	display: block;
}
dfn {
	font-style: italic;
}
figure {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	margin: 3rem 0 1.5rem 0;
	font-weight: 500;
}
hr {
	height: 0;
}
img {
	border: 0;
	height: auto;
	max-width: 100%;
}
pre {
	overflow: auto;
}
progress {
	vertical-align: baseline;
}
small {
	font-size: 1.17rem;
}
sub,
sup,
.sup {
	font-size: 1.17rem;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup,
.sup {
	top: -0.75rem;
}
sub {
	bottom: -0.75rem;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: none;
	padding: 0;
}
legend {
	margin-bottom: 1.5rem;
	padding: 0;
}
label {
	display: block;
	padding-bottom: .3rem;
}
button,
input,
select,
textarea {
	font: inherit;
	height: 3rem;
	margin: 0;
	outline: none;
	padding-left: .4rem;
	padding-right: .4rem;
	width: 100%;
}
button,
input {
	overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	border-color: transparent;
	cursor: pointer;
	padding-left: .7rem;
	padding-right: .7rem;
	width: auto;
}
textarea {
	height: auto;
	overflow: auto;
}
select {
	padding-left: .2rem;
	padding-right: 0;
}
optgroup {
	font-weight: bold;
	font-style: normal;
}
[type="checkbox"],
[type="radio"] {
	height: auto;
	padding: 0;
	width: auto;
}
[type="file"] {
	height: auto;
	padding: 0;
}
[disabled]:hover {
	cursor: not-allowed;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th {
	text-align: left;
}
tr {
	border-bottom: 1px solid;
}
td,
th {
	height: 3.5rem;
	padding-left: .7rem;
	padding-right: .7rem;
}

/* ---------- TYPOGRAPHY ---------- */

body {
	color: #444;
}
a {
	color: #258fd6;
	text-decoration: none;
}
a:active,
a:hover {
	color: #444;
	text-decoration: underline;
}
cite:before {
	content: "— ";
}
.h1,.s1,
.h2,.s2,
.h3,.s3,
.h4,.s4,
.h5,.s5,
.h6,.s6 {
	height: auto;
}
h1,
.h1,
.s1 {
	font-size: 2.5rem;
}
h2,
.h2,
.s2 {
	font-size: 2rem;
}
h3,
.h3,
.s3 {
	font-size: 1.67rem;
}
h4,
.h4,
.s4 {
	font-size: 1.5rem;
}
h5,
.h5,
.s5 {
	font-size: 1.33rem;
}
h6,
.h6,
.s6 {
	font-size: 1.17rem;
}
.heading-large {
	font-size: 8rem;
}
.heading-medium {
	font-size: 6.5rem;
}
.heading-small {
	font-size: 4rem;
}
.text-blue {
	color: #258fd6;
}
.text-green {
	color: #239c56;
}
.text-orange {
	color: #da7418;
}
.text-red {
	color: #e43d29;
}
ul.inline-list {
	font-size: 0rem;
	margin: 1.5rem 0;
	padding-left: 0;
}
ul.inline-list li {
	display: inline-block;
	list-style-type: none;
	margin-left: .5rem;
	font-size: 1.5rem;
}
ul.inline-list li:first-child {
	margin-left: 0;
}
ul.unstyled-list {
	padding-left: 0;
}
ul.unstyled-list li {
	list-style-type: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
	font-style: italic;
	color: #999;
}
:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
	color: #999;
}

/* ---------- TABLE ---------- */

tr {
	border-color: #bbb;
	transition-duration: .2s;
}
tr:hover {
	background-color: #dbedf9;
	transition-duration: .2s;
}
.scrollable-table {
	overflow: auto;
}

/* ---------- FORM ---------- */

form .col {
	margin-bottom: 1.5rem;
}
form.inline-form button,
form.inline-form input,
form.inline-form label,
form.inline-form select,
form.inline-form textarea {
	display: inline-block;
	width: auto;
}
form .col.label-centered {
	margin-bottom: 0;
}
form .label-centered label {
	padding-top: .3rem;
}
button,
input,
select,
textarea {
	border: 1px solid #bbb;
	border-radius: .3rem;
	transition-duration: .2s;
}
input:focus,
select:focus,
textarea:focus {
	border: 1px solid #258fd6;
	transition-duration: .2s;
}
[type="file"] {
	border: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #777;
	color: #fff;
	transition-duration: .2s;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: #555;
	transition-duration: .2s;
}
button[disabled],
input[disabled],
select[disabled],
textarea[disabled],
button[disabled]:hover,
input[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover {
	background-color: #ddd;
	color: #aaa;
}
button.blue,
input[type="button"].blue,
input[type="reset"].blue,
input[type="submit"].blue {
	background-color: #258fd6;
	color: #eee;
}
button.blue:hover,
input[type="button"].blue:hover,
input[type="reset"].blue:hover,
input[type="submit"].blue:hover {
	background-color: #1f77b1;
}
button.green,
input[type="button"].green,
input[type="reset"].green,
input[type="submit"].green {
	background-color: #239c56;
	color: #eee;
}
button.green:hover,
input[type="button"].green:hover,
input[type="reset"].green:hover,
input[type="submit"].green:hover {
	background-color: #1c7943;
}
button.orange,
input[type="button"].orange,
input[type="reset"].orange,
input[type="submit"].orange {
	background-color: #da7418;
	color: #eee;
}
button.orange:hover,
input[type="button"].orange:hover,
input[type="reset"].orange:hover,
input[type="submit"].orange:hover {
	background-color: #b46014;
}
button.red,
input[type="button"].red,
input[type="reset"].red,
input[type="submit"].red {
	background-color: #e43d29;
	color: #eee;
}
button.red:hover,
input[type="button"].red:hover,
input[type="reset"].red:hover,
input[type="submit"].red:hover {
	background-color: #bc2818;
}
button.yellow,
input[type="button"].yellow,
input[type="reset"].yellow,
input[type="submit"].yellow {
	background-color: #e0a800;
	color: #eee;
}
button.yellow:hover,
input[type="button"].yellow:hover,
input[type="reset"].yellow:hover,
input[type="submit"].yellow:hover {
	background-color: #d39e00;
}

/* ---------- NAVIGATION ---------- */

.menu {
	font-size: 0rem;
	margin: 0;
	padding-left: 0;
}
.menu li {
	display: inline-block;
	font-size: 1.5rem;
	list-style-type: none;
	margin-left: 1.5rem;
}
.menu li:first-child {
	margin-left: 0;
}
.menu li.active a {
	color: #444;
}
.menu.vertical li {
	display: block;
	margin-left: 0;
}
.menu.expanded li {
	margin-left: 0;
	transition-duration: .2s;
}
.menu.expanded li:hover {
	border-radius: .3rem;
	background-color: #ddd;
	transition-duration: .2s;
}
.menu.expanded li a {
	border-radius: .3rem;
	display: block;
	height: 3.5rem;
	line-height: 3.5rem;
	padding-left: .7rem;
	padding-right: .7rem;
}
.menu.expanded li a:hover {
	text-decoration: none;
}
.menu.breadcrumb li + li:before,
.menu.expanded.breadcrumb > li + li a:before {
	content: "/";
}
.menu.breadcrumb li + li:before,
.menu.expanded.breadcrumb > li + li:before,
.menu.expanded.breadcrumb > li + li a:before {
	margin-right: .7rem;
}
.menu.expanded.breadcrumb > li + li:before {
	content: none;
}
.menu.expanded li.active a,
.menu.expanded li.active:hover {
	background-color: #258fd6;
	color: #fff;
}
.responsive-menu label {
	background-color: #444;
	color: #fff;
	cursor: pointer;
	text-align: center;
}
.responsive-menu label,
.responsive-menu input[type=checkbox] {
	display: none;
}
.responsive-menu label {
	height: 3.5rem;
	line-height: 3.5rem;
	padding-left: .7rem;
	padding-right: .7rem;
}
.responsive-menu input[type=checkbox]:checked+ul {
	display: block;
}

@media (max-width: 47.938rem) {
	.responsive-menu ul {
		display: none;
	}
	.responsive-menu label,
	.responsive-menu ul li {
		display: block;
		margin-left: 0
	}
	.responsive-menu ul li:hover {
		background-color: #ddd;
	}
	.responsive-menu ul li a {
/*		display: block; */
		height: 3.5rem;
		line-height: 3.5rem;
		padding-left: .7rem;
		padding-right: .7rem;
	}
	.responsive-menu ul li a:hover {
		text-decoration: none;
	}
	.responsive-menu .menu.breadcrumb li + li:before,
	.responsive-menu .menu.expanded.breadcrumb > li + li a:before {
		content: none;
	}
	.responsive-menu ul li.active a,
	.responsive-menu ul li.active:hover {
		background-color: #258fd6;
		color: #fff;
	}
}

/* Pagination */

.pagination {
	margin: 0;
	padding: 0;
	width: 100%;
}
.pagination ul,
.pagination ul ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.pagination li,
.pagination li li {
	display: inline-block;
	font-size: 1.5rem;
	list-style-type: none;
	margin: 10px;
	cursor: pointer;
}
.pagination li.active a {
	color: #ff0000;
}
.pagination li.disabled a {
	color: #999;
}
.pagination li.disabled a:hover {
	text-decoration: none;
}

/* ---------- OTHER COMPONENTS ---------- */

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	transition: opacity .3s ease;
}
.modal-container {
	width: 450px;
	margin: 40px auto 0;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}
.modal-header {
	margin-top: 0;
}
.modal-body {
	margin: 20px 0;
}
.modal-footer {
	margin: 20px 0;
	text-align: right;
}
.modal-container button:hover {
	color: #333;
	background-color: transparent;
}
.modal-btn-close {
	background: transparent;
	border: 0;
	height: 1rem;
	line-height: 1rem;
	margin-left: .2rem;
	margin-right: -2px;
	padding: 0 2px;
	text-decoration: none;
	width: 1rem;
	color: #999;
}
.modal-btn-close:after {
	display: inline-block;
	content: "\00d7"; /* This will render the 'X' */
}

.gallery {
	list-style: none;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	overflow: hidden;
	padding-left: 0;
}
.gallery li {
	float: left;
	padding: 0 1.5rem 1.5rem 1.5rem;
}
.alert {
	border-radius: .3rem;
	margin-bottom: 1.5rem;
	padding: 1.5rem;
}
.alert a,
.alert a:hover {
	color: inherit;
}
.alert.blue {
	background-color: #dbedf9;
	color: #258fd6;
}
.alert.green {
	background-color: #d3f5e2;
	color: #239c56;
}
.alert.orange {
	background-color: #fbe8d9;
	color: #da7418;
}
.alert.red {
	background-color: #fce4e2;
	color: #e43d29;
}
.button {
	background-color: #777;
	border-radius: .3rem;
	color: #fff;
	padding: .9rem .7rem;
	transition-duration: .2s;
}
.button:hover {
	background-color: #555;
	text-decoration: none;
	transition-duration: .2s;
}
.button.blue {
	background-color: #258fd6;
	color: #eee;
}
.button.blue:hover {
	background-color: #1f77b1;
}
.button.green {
	background-color: #239c56;
	color: #eee;
}
.button.green:hover {
	background-color: #1c7943;
}
.button.orange {
	background-color: #da7418;
	color: #eee;
}
.button.orange:hover {
	background-color: #b46014;
}
.button.red {
	background-color: #e43d29;
	color: #eee;
}
.button.red:hover {
	background-color: #bc2818;
}
.button.yellow {
	background-color: #e0a800;
	color: #eee;
}
.button.yellow:hover {
	background-color: #d39e00;
}
.progress {
	background-color: #fff;
	border-radius: .3rem;
	border: 1px solid #bbb;
	position: relative;
	width: 100%;
}
.progress span {
	background-color: #258fd6;
	border-radius: .3rem;
	color: #fff;
	display: block;
	height: 3.5rem;
	line-height: 3.5rem;
	min-width: 2.2rem;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.progress span[style="width: 0%;"] {
	background: none;
	color: #444;
}
.badge,
.label {
	background-color: #258fd6;
	border-radius: .3rem;
	color: #fff;
	display: inline-block;
	margin-left: .4rem;
}
.badge {
	line-height: 1;
	padding: .2rem;
}
.menu.expanded .active a .badge {
	background-color: #fff;
	color: #258fd6;
}
.menu.vertical .badge {
	float: right;
}
.menu.vertical.expanded .badge {
	margin-top: .8rem;
}
.label {
	padding: .25rem .4rem;
}
.frame {
	height: 0;
	padding-top: 56.25%;
	position: relative;
}
.frame embed,
.frame iframe,
.frame object,
.frame video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.img-circle {
	border-radius: 50%;
}
.img-rounded {
	border-radius: .3rem;
}

/* -- Tooltip -- */

a.tooltip {
	position: relative;
	display: inline;
}
a.tooltip span {
	font-size: 1.3rem;
	line-height: 1.7rem;
	position: absolute;
	min-width:140px;
	color: #fff;
	background: #555;
	min-height: 30px;
	text-align: center;
	visibility: hidden;
	border-radius: 4px;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
a.tooltip span:after {
	content: '';
	position: absolute;
 	width: 0; height: 0;
}
a:hover.tooltip span {
	visibility: visible;
	opacity:1;
	z-index: 999;
}
a.tooltip.tooltip-top span:after {
	top: 100%;
	left: 50%;
	margin-left: -8px;
	border-top: 8px solid #555;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltip-top span {
	bottom: 30px;
	left: 50%;
	margin-left: -76px;
}
a.tooltip.tooltip-right span:after {
	top: 50%;
	right: 100%;
	margin-top: -8px;
	border-right: 8px solid #555;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
a:hover.tooltip-right span {
	left: 100%;
	top: 50%;
	margin-top: -15px;
	margin-left: 15px;
}
a.tooltip.tooltip-bottom span:after {
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	border-bottom: 8px solid #555;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltip-bottom span {
	top: 30px;
	left: 50%;
	margin-left: -76px;
}
a.tooltip.tooltip-left span:after {
	top: 50%;
	left: 100%;
	margin-top: -8px;
	border-left: 8px solid #555;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
a:hover.tooltip-left span {
	right: 100%;
	top: 50%;
	margin-top: -15px;
	margin-right: 15px;
}

/* ---------- HELPER ---------- */

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.float-left {
	float: left;
}
.float-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.float-right {
	float: right;
}
.float-none {
	float: none;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.full-width {
	width: 100%;
}
.width-auto {
	width: auto;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* ---------- GRID, GALLERY, AND HELPER ---------- */

.container {
	margin: 0 auto;
	max-width: 1280px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: 100%;
}
.grid {
/*	display: flex;  equal height of the children # https://stackoverflow.com/a/20669539 */
	overflow: hidden;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	/* https://stackoverflow.com/a/44502844 >>> https://codepen.io/Hlsg/pen/EXKJba */
/*	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px; */
}
.col {
/*	flex: 12;  additionally, equal width # https://stackoverflow.com/a/20669539 */
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: 100%;
/*	padding-bottom: 100%; #https://stackoverflow.com/a/2997838 */
/*	margin-bottom: -100%; #https://stackoverflow.com/a/2997838 */

/*	background: #ccc; border: 1px solid #000;*/
/*	margin: -1px; /*padding-bottom: 1px;*/
}
.col.sml-1,
.gallery.sml-1 li {
	width: 8.3333%;
}
.col.sml-2,
.gallery.sml-2 li {
	width: 16.6666%;
}
.col.sml-3,
.gallery.sml-3 li {
	width: 25%;
}
.col.sml-4,
.gallery.sml-4 li {
	width: 33.3333%;
}
.col.sml-5,
.gallery.sml-5 li {
	width: 41.6666%;
}
.col.sml-6,
.gallery.sml-6 li {
	width: 50%;
}
.col.sml-7,
.gallery.sml-7 li {
	width: 58.3333%;
}
.col.sml-8,
.gallery.sml-8 li {
	width: 66.6666%;
}
.col.sml-9,
.gallery.sml-9 li {
	width: 75%;
}
.col.sml-10,
.gallery.sml-10 li {
	width: 83.3333%;
}
.col.sml-11,
.gallery.sml-11 li {
	width: 91.6666%;
}
.col.sml-12,
.gallery.sml-12 li {
	width: 100%;
}
.col.sml-push-0 {
	left: auto;
}
.col.sml-push-1 {
	left: 8.3333%;
}
.col.sml-push-2 {
	left: 16.6666%;
}
.col.sml-push-3 {
	left: 25%;
}
.col.sml-push-4 {
	left: 33.3333%;
}
.col.sml-push-5 {
	left: 41.6666%;
}
.col.sml-push-6 {
	left: 50%;
}
.col.sml-push-7 {
	left: 58.3333%;
}
.col.sml-push-8 {
	left: 66.6666%;
}
.col.sml-push-9 {
	left: 75%;
}
.col.sml-push-10 {
	left: 83.3333%;
}
.col.sml-push-11 {
	left: 91.6666%;
}
.col.sml-push-12 {
	left: 100%;
}
.col.sml-pull-0 {
	right: auto;
}
.col.sml-pull-1 {
	right: 8.3333%;
}
.col.sml-pull-2 {
	right: 16.6666%;
}
.col.sml-pull-3 {
	right: 25%;
}
.col.sml-pull-4 {
	right: 33.3333%;
}
.col.sml-pull-5 {
	right: 41.6666%;
}
.col.sml-pull-6 {
	right: 50%;
}
.col.sml-pull-7 {
	right: 58.3333%;
}
.col.sml-pull-8 {
	right: 66.6666%;
}
.col.sml-pull-9 {
	right: 75%;
}
.col.sml-pull-10 {
	right: 83.3333%;
}
.col.sml-pull-11 {
	right: 91.6666%;
}
.col.sml-pull-12 {
	right: 100%;
}
.col.sml-offset-0 {
	margin-left: 0;
}
.col.sml-offset-1 {
	margin-left: 8.3333%;
}
.col.sml-offset-2 {
	margin-left: 16.6666%;
}
.col.sml-offset-3 {
	margin-left: 25%;
}
.col.sml-offset-4 {
	margin-left: 33.3333%;
}
.col.sml-offset-5 {
	margin-left: 41.6666%;
}
.col.sml-offset-6 {
	margin-left: 50%;
}
.col.sml-offset-7 {
	margin-left: 58.3333%;
}
.col.sml-offset-8 {
	margin-left: 66.6666%;
}
.col.sml-offset-9 {
	margin-left: 75%;
}
.col.sml-offset-10 {
	margin-left: 83.3333%;
}
.col.sml-offset-11 {
	margin-left: 91.6666%;
}
.col.sml-offset-12 {
	margin-left: 100%;
}
.col.sml-centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.col.sml-uncentered {
	float: left;
}
.sml-h1 {
	font-size: 2.5rem;
}
.sml-h2 {
	font-size: 2rem;
}
.sml-h3 {
	font-size: 1.67rem;
}
.sml-h4 {
	font-size: 1.5rem;
}
.sml-h5 {
	font-size: 1.33rem;
}
.sml-h6 {
	font-size: 1.17rem;
}
.sml-text-left {
	text-align: left;
}
.sml-text-center {
	text-align: center;
}
.sml-text-right {
	text-align: right;
}
.sml-text-justify {
	text-align: justify;
}
.sml-float-left {
	float: left;
}
.sml-float-center {
	margin-left: auto;
	margin-right: auto;
}
.sml-float-right {
	float: right;
}
.sml-float-none {
	float: none;
}
.sml-show {
	display: block;
}
.sml-hide {
	display: none;
}
.sml-full-width {
	width: 100%;
}
.sml-width-auto {
	width: auto;
}
.sml-no-margin {
	margin: 0;
}
.sml-no-padding {
	padding: 0;
}

@media (min-width: 48rem) {

	.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.col.med-1,
	.gallery.med-1 li {
		width: 8.3333%;
	}
	.col.med-2,
	.gallery.med-2 li {
		width: 16.6666%;
	}
	.col.med-3,
	.gallery.med-3 li {
		width: 25%;
	}
	.col.med-4,
	.gallery.med-4 li {
		width: 33.3333%;
	}
	.col.med-5,
	.gallery.med-5 li {
		width: 41.6666%;
	}
	.col.med-6,
	.gallery.med-6 li {
		width: 50%;
	}
	.col.med-7,
	.gallery.med-7 li {
		width: 58.3333%;
	}
	.col.med-8,
	.gallery.med-8 li {
		width: 66.6666%;
	}
	.col.med-9,
	.gallery.med-9 li {
		width: 75%;
	}
	.col.med-10,
	.gallery.med-10 li {
		width: 83.3333%;
	}
	.col.med-11,
	.gallery.med-11 li {
		width: 91.6666%;
	}
	.col.med-12,
	.gallery.med-12 li {
		width: 100%;
	}
	.col.med-push-0 {
		left: auto;
	}
	.col.med-push-1 {
		left: 8.3333%;
	}
	.col.med-push-2 {
		left: 16.6666%
	 }
	.col.med-push-3 {
		left: 25%;
	}
	.col.med-push-4 {
		left: 33.3333%;
	}
	.col.med-push-5 {
		left: 41.6666%;
	}
	.col.med-push-6 {
		left: 50%;
	}
	.col.med-push-7 {
		left: 58.3333%;
	}
	.col.med-push-8 {
		left: 66.6666%;
	}
	.col.med-push-9 {
		left: 75%;
	}
	.col.med-push-10 {
		left: 83.3333%;
	}
	.col.med-push-11 {
		left: 91.6666%;
	}
	.col.med-push-12 {
		left: 100%;
	}
	.col.med-pull-0 {
		right: auto;
	}
	.col.med-pull-1 {
		right: 8.3333%;
	}
	.col.med-pull-2 {
		right: 16.6666%;
	}
	.col.med-pull-3 {
		right: 25%;
	}
	.col.med-pull-4 {
		right: 33.3333%;
	}
	.col.med-pull-5 {
		right: 41.6666%;
	}
	.col.med-pull-6 {
		right: 50%;
	}
	.col.med-pull-7 {
		right: 58.3333%;
	}
	.col.med-pull-8 {
		right: 66.6666%;
	}
	.col.med-pull-9 {
		right: 75%;
	}
	.col.med-pull-10 {
		right: 83.3333%;
	}
	.col.med-pull-11 {
		right: 91.6666%;
	}
	.col.med-pull-12 {
		right: 100%;
	}
	.col.med-offset-0 {
		margin-left: 0;
	}
	.col.med-offset-1 {
		margin-left: 8.3333%;
	}
	.col.med-offset-2 {
		margin-left: 16.6666%;
	}
	.col.med-offset-3 {
		margin-left: 25%;
	}
	.col.med-offset-4 {
		margin-left: 33.3333%;
	}
	.col.med-offset-5 {
		margin-left: 41.6666%;
	}
	.col.med-offset-6 {
		margin-left: 50%;
	}
	.col.med-offset-7 {
		margin-left: 58.3333%;
	}
	.col.med-offset-8 {
		margin-left: 66.6666%;
	}
	.col.med-offset-9 {
		margin-left: 75%;
	}
	.col.med-offset-10 {
		margin-left: 83.3333%;
	}
	.col.med-offset-11 {
		margin-left: 91.6666%;
	}
	.col.med-offset-12 {
		margin-left: 100%;
	}
	.col.med-centered {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.col.med-uncentered {
		float: left;
	}
	.med-h1 {
		font-size: 2.5rem;
	}
	.med-h2 {
		font-size: 2rem;
	}
	.med-h3 {
		font-size: 1.67rem;
	}
	.med-h4 {
		font-size: 1.5rem;
	}
	.med-h5 {
		font-size: 1.33rem;
	}
	.med-h6 {
		font-size: 1.17rem;
	}
	.med-text-left {
		text-align: left;
	}
	.med-text-center {
		text-align: center;
	}
	.med-text-right {
		text-align: right;
	}
	.med-text-justify {
		text-align: justify;
	}
	.med-float-left {
		float: left;
	}
	.med-float-center {
		margin-left: auto;
		margin-right: auto;
	}
	.med-float-right {
		float: right;
	}
	.med-float-none {
		float: none;
	}
	.med-show {
		display: block;
	}
	.med-hide {
		display: none;
	}
	.med-full-width {
		width: 100%;
	}
	.med-width-auto {
		width: auto;
	}
	.med-no-margin {
		margin: 0;
	}
	.med-no-padding {
		padding: 0;
	}
}

@media (min-width: 64rem) {

	.container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.col.lrg-1,
	.gallery.lrg-1 li {
		width: 8.3333%;
	}
	.col.lrg-2,
	.gallery.lrg-2 li {
		width: 16.6666%;
	}
	.col.lrg-3,
	.gallery.lrg-3 li {
		width: 25%;
	}
	.col.lrg-4,
	.gallery.lrg-4 li {
		width: 33.3333%;
	}
	.col.lrg-5,
	.gallery.lrg-5 li {
		width: 41.6666%;
	}
	.col.lrg-6,
	.gallery.lrg-6 li {
		width: 50%;
	}
	.col.lrg-7,
	.gallery.lrg-7 li {
		width: 58.3333%;
	}
	.col.lrg-8,
	.gallery.lrg-8 li {
		width: 66.6666%;
	}
	.col.lrg-9,
	.gallery.lrg-9 li {
		width: 75%;
	}
	.col.lrg-10,
	.gallery.lrg-10 li {
		width: 83.3333%;
	}
	.col.lrg-11,
	.gallery.lrg-11 li {
		width: 91.6666%;
	}
	.col.lrg-12,
	.gallery.lrg-12 li {
		width: 100%;
	}
	.col.lrg-push-0 {
		left: auto;
	}
	.col.lrg-push-1 {
		left: 8.3333%;
	}
	.col.lrg-push-2 {
		left: 16.6666%;
	}
	.col.lrg-push-3 {
		left: 25%;
	}
	.col.lrg-push-4 {
		left: 33.3333%;
	}
	.col.lrg-push-5 {
		left: 41.6666%;
	}
	.col.lrg-push-6 {
		left: 50%;
	}
	.col.lrg-push-7 {
		left: 58.3333%;
	}
	.col.lrg-push-8 {
		left: 66.6666%;
	}
	.col.lrg-push-9 {
		left: 75%;
	}
	.col.lrg-push-10 {
		left: 83.3333%;
	}
	.col.lrg-push-11 {
		left: 91.6666%;
	}
	.col.lrg-push-12 {
		left: 100%;
	}
	.col.lrg-pull-0 {
		right: auto;
	}
	.col.lrg-pull-1 {
		right: 8.3333%;
	}
	.col.lrg-pull-2 {
		right: 16.6666%;
	}
	.col.lrg-pull-3 {
		right: 25%;
	}
	.col.lrg-pull-4 {
		right: 33.3333%;
	}
	.col.lrg-pull-5 {
		right: 41.6666%;
	}
	.col.lrg-pull-6 {
		right: 50%;
	}
	.col.lrg-pull-7 {
		right: 58.3333%;
	}
	.col.lrg-pull-8 {
		right: 66.6666%;
	}
	.col.lrg-pull-9 {
		right: 75%;
	}
	.col.lrg-pull-10 {
		right: 83.3333%;
	}
	.col.lrg-pull-11 {
		right: 91.6666%;
	}
	.col.lrg-pull-12 {
		right: 100%;
	}
	.col.lrg-offset-0 {
		margin-left: 0;
	}
	.col.lrg-offset-1 {
		margin-left: 8.3333%;
	}
	.col.lrg-offset-2 {
		margin-left: 16.6666%;
	}
	.col.lrg-offset-3 {
		margin-left: 25%;
	}
	.col.lrg-offset-4 {
		margin-left: 33.3333%;
	}
	.col.lrg-offset-5 {
		margin-left: 41.6666%;
	}
	.col.lrg-offset-6 {
		margin-left: 50%;
	}
	.col.lrg-offset-7 {
		margin-left: 58.3333%;
	}
	.col.lrg-offset-8 {
		margin-left: 66.6666%;
	}
	.col.lrg-offset-9 {
		margin-left: 75%;
	}
	.col.lrg-offset-10 {
		margin-left: 83.3333%;
	}
	.col.lrg-offset-11 {
		margin-left: 91.6666%;
	}
	.col.lrg-offset-12 {
		margin-left: 100%;
	}
	.col.lrg-centered {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.col.lrg-uncentered {
		float: left;
	}
	.lrg-h1 {
		font-size: 2.5rem;
	}
	.lrg-h2 {
		font-size: 2rem;
	}
	.lrg-h3 {
		font-size: 1.67rem;
	}
	.lrg-h4 {
		font-size: 1.5rem;
	}
	.lrg-h5 {
		font-size: 1.33rem;
	}
	.lrg-h6 {
		font-size: 1.17rem;
	}
	.lrg-text-left {
		text-align: left;
	}
	.lrg-text-center {
		text-align: center;
	}
	.lrg-text-right {
		text-align: right;
	}
	.lrg-text-justify {
		text-align: justify;
	}
	.lrg-float-left {
		float: left;
	}
	.lrg-float-center {
		margin-left: auto;
		margin-right: auto;
	}
	.lrg-float-right {
		float: right;
	}
	.lrg-float-none {
		float: none;
	}
	.lrg-show {
		display: block;
	}
	.lrg-hide {
		display: none;
	}
	.lrg-full-width {
		width: 100%;
	}
	.lrg-width-auto {
		width: auto;
	}
	.lrg-no-margin {
		margin: 0;
	}
	.lrg-no-padding {
		padding: 0;
	}
}
