/*
# ------------------ BEGIN LICENSE BLOCK ------------------
#
# This file is part of PluXml : https://www.pluxml.org
#
# Package:		theme.css
# Copyright (c) 	2019 PluXml
# Authors		Stephane F., Pedro "P3ter" CADETE., Thomas "sudwebdesign" Ingles
# Licensed under the GPL license.
# See http://www.gnu.org/licenses/gpl.html
#
# ------------------- END LICENSE BLOCK -------------------
*/
.col{margin-bottom: -1px}/* fix menu & more... */
/* pushed button */
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,

button.blue:active,
input[type="button"].blue:active,
input[type="reset"].blue:active,
input[type="submit"].blue:active,

button.green:active,
input[type="button"].green:active,
input[type="reset"].green:active,
input[type="submit"].green:active,

button.orange:active,
input[type="button"].orange:active,
input[type="reset"].orange:active,
input[type="submit"].orange:active,

button.red:active,
input[type="button"].red:active,
input[type="reset"].red:active,
input[type="submit"].red:active,

button.yellow:active,
input[type="button"].yellow:active,
input[type="reset"].yellow:active,
input[type="submit"].yellow:active,

.button:active,
.button.blue:active,
.button.green:active,
.button.orange:active,
.button.red:active,
.button.yellow:active
{
   background-color: #999;
   transition-duration: .2s;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

body {
	font-family: 'open_sansregular', sans-serif;
	font-size: 1.7em;
	line-height: 1.6em;
	color: #3A4145;
	background-color: #fff;
}

/* ---------- Header ---------- */
/* .header.sticky>.container>.grid : fix hidden long sub menu */
.header .grid {
	overflow: visible;
}
@media (min-width: 64rem) {/* min-width: 64rem */
	.container {
		padding-left: 15px;/* 1.5rem */
		padding-right: 15px;/* 1.5rem */
	}
}

.header {
/*	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding-top: 13px;/* 1.3rem */
/*	height: 90px;/* 9rem */
	z-index: 11; /* 2 */
/*	margin-top: -13px;/* -1.3rem */
}

.header a {
	color: #222;
}

.header a:hover {
	text-decoration: none;
}
.my-menu{
	background-color: rgba(255,255,255,0.777);
	min-height: 6.18rem;
}
.my-logo {
	background: url("../img/pluxml-logo-black.png") top left no-repeat;
	height: 55.5px;/* 5.55rem */
	background-size: 66.6px;/* 6.66rem */
	background-position: 20px 0;/* 2rem 0 */
	padding-left: 90px;/* 11rem */
}
.my-logo a:hover {
	color: #ccc;
}
.my-logo h1 a.button {
	margin-right: -7.77%;
	margin-top: 1px;
}
.my-logo h2 {
	font-size: 1.33rem !important;/* h5 */
	padding-top: 1rem;
	font-style:: italic;
/*	margin-left: -90px; */
}
.bg {
	background: transparent url(../img/bg.jpg);
	background-attachment: fixed;/* paralax */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transform-style: inherit;
	background-position: top right;
/*	background-position: 50% 50%; *//* old */
	box-shadow: 0 -1px 10px rgba(207, 207, 207, .72) inset;/* ombre */
	box-sizing: border-box;
/*	transform: scale(1.23); */
	width: 100%;
	height: 6.18rem;/* 20rem 250px */
	position: fixed;
	position: sticky;
	top: 0;
	z-index: 3;
}

.header, .rslidesfill, .bg{
/*	background-attachment: fixed; */
/*	background-size: cover; */
	box-sizing: border-box;
/*	box-shadow: 0 -1px 10px rgba(0, 0, 0, .7) inset; */
/*	transform: translateZ(-1) scale(1.23);*/
	transform-style: inherit;
}
/*
.my-logo h1, .my-logo h2 {
	display: inline-block;
}
*/
/* ---------- Main ---------- */

.main {
	background-color: rgba(255,255,255,0.72);
	padding-top: 20.123rem;
	margin-top: -16.1rem;/* fix for chromium 20rem is to high (hide content if menu to long) */
}
.repertory {
	margin-top: 0;
}
/* ----- Main Sel adhesionSel v 0.9.5 pages ------ */
.main .main {/* fix for adhesionSel pages in page */
	padding-top: 0;
	margin-top: 0;
}
.mode-my .main .my {/* my (admin public  pages) */
	margin-top: 13rem;
}
.mode-my .main.popup .medias {/* .my.media.popup (admin public pages)  */
	margin-top: 12rem;
}
main.popup  {
	margin-top: 0;
	padding-top: 0;
}
.my .main .my header /* h2 */ {/* experimental : cache les entêtes de la page statique qui accueille les pages adhésionSel */
	display: none;
}
.mode .mode > header h2 {/* experimental v2 : cache les entêtes de la page statique qui accueille les pages adhésionSel */
	color: rgba(0,0,0,.222);
}
.mode .mode > header {/* experimental v3 : cache les entêtes des pages */
	display: none;
}

@media (max-width: 767px) {
	.bg {
		background: transparent url(../img/bg.mob.jpg);
	}
	.main {
		margin-top: -20rem;
	}
	.my-logo {
		background-size: 4rem;
		background-position: 4rem 0;
		padding-left: 7.55rem;
		margin-left: -4rem;
	}
	.my-logo a, .my-logo h1 * {
		font-size: 1.61rem;
	}
	.my-logo h1 a.button {
		margin-right: 0.16%;
	}
	.my-logo h2 {
		font-size: 1.23rem;
		margin-left: -4rem;
		padding-top: 1rem;
/*		display: initial; */
	}
	.mode-my .main .my{ /* my (admin public  pages) */
/*	, .my .main .medias { /* .my .popup .media (admin public pages)  */
		margin-top: 1.61rem;
	}
	.mode-my .main.popup .medias {/* .my .popup .media (admin public pages)  */
		margin-top: 0;
	}

}
@media (max-width: 511px) {
	.my-logo {
		background-size: 3rem;
		background-position: 3rem 0;
		padding-left: 5.55rem;
		margin-left: -5.43rem;
	}
	.my-logo a, .my-logo h1 * {
		font-size: 1.23rem;
		margin-left: .5rem;
	}
	.my-logo h2 {
		font-size: 1rem;
		margin-left: -3rem;
		padding-top: .5rem;
	}
	.bg {
/*		height: 100px; */
	}
}
@media (max-width: 345px) {
	.my-logo h1 a.button {
		margin-left: 333%;
	}
	.my-logo a, .my-logo h1 * {
		margin-left: -2.22rem;
	}
	.my-logo h2{
		width: 444%;
	}
}
/* ----- Nav / Menu ----- */

.nav {
	text-align: right;
	margin: .666rem -3rem;
	background-color: #fff;
	/* padding-top: 1.7rem; */
}

ul.menu {
	margin-right: 30px;
}
footer ul.menu {
	margin-right: 0;
}

.menu a:active, .menu a:hover {
	text-decoration: none;
}

.menu>li{
/*	padding: 5px 5px 2px 5px; */
	margin-top: -3px;
	border-bottom: 3px solid #eee;
	font-size: 1.5rem;
	list-style-type: none;
	margin-left: 1.5rem;
	line-height: 1.75rem;
}

.menu>li:hover{
	border-bottom: 3px solid #ccc;
	background-color: #fff;
}

.menu>li.active, .menu>li>span.active, .menu>li>a.selected{
	border-bottom: 3px solid #999;
}
.menu>li span.group.active,
.menu>li span.group.active:hover {
	border: 0 !important;
}
.menu>li ul {
	display: none;
	position: absolute;
	padding: 0;
/*	margin: 0px 5px 2.5px -5px; */
	line-height: 2.8rem;
	z-index: 10;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.menu>li:hover ul {
	display: block;
}

.menu ul li {
	display: block;
	margin: 0;
	padding: 0 1rem;
	background-color: #fff;
	text-align: left;
}

.menu span::before {
	content: '\25bc';
}
.responsive-menu {
	margin-block-end: -300rem;
}
@media (max-width: 767px) {
	.my-logo {}
	.responsive-menu {
		margin-block-end: 0;
		overflow-x: hidden;
	}
	.bg {
/*		margin-bottom: -198px; */
	}
	.heading-small {
		font-size: 2.22rem;
	}
	.nav {
		height: auto;
		overflow-y: auto;
		text-align: left;
		margin-top: 0;
		background-color: rgba(255,255,255,0.555);
		max-height: 80%;/* o: 200px */
		z-index: 10;
	}
	.nav>.container {
		padding: 0;
	}
	ul.menu {
		margin: 0px;
	}
	.menu>li {
		padding: 5px 5px 2px 5px;
		background: #efefef;
	}
	li.menu:hover {
/*		border: none; */
	}
	.menu > li ul {
		margin: 0;
	}

	.responsive-menu label {
		background-color: transparent;
		color: #333;
		font-size: 3.5rem;
		margin: .75rem;
		text-align: right;
	}
	.responsive-menu label:after {
		content: '\2630';
	}
	.menu>li ul {
		position: relative !important;
	}
	.menu>li ul li:hover {
		background-color: #fff;
	}
	.menu>li ul li:hover a {
		text-decoration: underline;
	}
	.responsive-menu ul li:hover,
	.responsive-menu ul li a:hover,
	.responsive-menu ul .active span,
	.responsive-menu ul li.active,
	.responsive-menu ul li.active a,
	.responsive-menu ul li.active:hover {
		background-color: #fff;
		color: #000;
	}
}
/* plxAdminBar idea
@media (max-width: 600px) {
	.header.sticky{
		position:relative;
		margin-top: 0;
	}
}
*/

.cat-list a.active,
.arch-list a.active,
ul.menu .noactive:hover,
ul.menu .active span,
ul.menu span.active,
ul.menu li.active a,
ul.menu a.active,
ul.menu li span:hover,
ul.menu li a:hover {/* pluCss1.3.1 fix : plxMyshop 0.13.x, maybe more */
	color: #000 !important;
}

ul.menu li span,
ul.menu li a {/* pluCss1.3.1 fix : plxMyshop 0.13.x, maybe more */
/*	display: inline-block; */
	height: 1.23rem;
	line-height: 1.23rem;
	padding-left: .35rem;
	padding-right: .35rem;
	width: 100%;
/*	cursor: pointer;
	background-color: rgba(255,255,255,.55);
	border-radius: 1px;*/
	color: #258fd6;
}
ul.menu li span a,
ul.menu li a span {/* pluCss1.3.1 fix : plxMyshop 0.13.x, maybe more */
	white-space: nowrap;
	display: inline;
	margin-right: -.35rem;
	padding-left: 0;
}
ul.menu li.noactive a,
ul.menu a.noactive{
/*	background-color: rgba(255,255,255,.55);*/
	border-radius: 1px;
	color: #258fd6;

}

/*

li.active a,
a.active {
	color: #000;
}

.static.group.active,
.static.menu.active a {
	color: #000;
	white-space: nowrap;
}

.static.group.noactive,
.static.menu.noactive a {
	color: #258fd6;
	white-space: nowrap;
}
*/
/* ------- Pagination ------- */

.pagination {
	margin: 3rem 0 3rem 0;
}

.pagination a {
	background-color: #258fd6;
	border-radius: .3rem;
	color: #fff;
	padding: .9rem .7rem;
	transition-duration: .2s;
}

.pagination a:hover {
	background-color: #3a6c96;
	color: #fff;
	text-decoration: none;
}

.pagination span:first-letter,
.pagination a:first-letter {
	text-transform: uppercase;
}

.p_first,
.p_prev,
.p_current,
.p_next,
.p_last {
	display: inline-block;
}


/* ------- Article ------- */

.article {/* fix cheveauchage v1 */
/*	 clear:both; */
}
.article:after {/* fix cheveauchage v2 */
	content:"";
	display:block;
	float:none;
	clear:both;
}

.article header {
	margin-top: 2rem;
}

.article header div {
	margin: 0;
}

.article header h2,
.article header h2 a {
	color: #222;
	font-size: 3.2rem;
	line-height: 1.2em;
	letter-spacing: -1px;
	font-weight: bold;
	margin: 0;
}

.article header h2 a:hover {
	color: #111;
	text-decoration: none;
}

.article header small,
.comment small {
	color: #9EABB3;
}

.article header span:before,
.article header time:before,
.article footer span:before {
	padding-left: 1.5rem;
	padding-right: .3rem;
}

.article .art-date {
	font-size: 1.5rem;
	color: #9EABB3;
}

.article .written-by:after {
	content: '|';
	padding-left: 0;
}

.article .classified-in:after {
	content: '|';
	padding-left: 0;
}

.article img.art_thumbnail {
	padding: 30px 15px 15px 0;
	float: left;
}

.page.mode-article .article footer {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

/* ------- Comments ------- */

#form {
	border-top: 130px solid transparent;
	margin: -130px 0 0;
}

.comment {
	background-image: url('../img/user.png');
	background-repeat: no-repeat;
	margin-bottom: 2.5rem;
	padding-left: 6rem;
	border-top: 100px solid transparent;
	margin-top: -100px;
}

.comment blockquote {
	margin: 0;
	font-size: 1.3rem;
}

.type-admin {
	background-color: #F0F8FF;
	padding: .2rem .5rem;
}

.nbcom {
	background-color: #258fd6;
	border-radius: .3rem;
	color: #fff;
	padding: .4rem .6rem;
}

.nbcom:hover {
	background-color: #3a6c96;
	color: #fff;
	text-decoration: none;
}

.level-0 {
	margin-left: 0;
}

.level-1 {
	margin-left: 5rem;
}

.level-2 {
	margin-left: 10rem
}

.level-3 {
	margin-left: 15rem;
}

.level-4 {
	margin-left: 20rem;
}

.level-5,
.level-max {
	margin-left: 25rem;
}

@media (max-width: 768px) {
	.comment {
		background-image: none;
		padding-left: 0;
	}
	.level-1 {
		margin-left: 1rem;
	}
	.level-2 {
		margin-left: 2rem;
	}
	.level-3 {
		margin-left: 3rem;
	}
	.level-4 {
		margin-left: 4rem;
	}
	.level-5,
	.level-max {
		margin-left: 5rem;
	}
}

#id_answer {
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	border: 1px solid #eee;
	width: 100%;
	background: #fafafa;
	display: none;
}

.capcha-letter,
.capcha-word {
	font-weight: bold;
}

.capcha-word {
	background-color: #ddd;
	border-radius: .3rem;
	letter-spacing: .5rem;
	padding: .9rem .7rem;
	transition-duration: .2s;
}

.capcha-word:hover {
	background-color: #666;
	color: #fff;
	transition-duration: .2s;
}

/* ------- Sidebar ------- */

.aside {
	padding: 0 2rem 0 2rem;
}

.aside h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 5rem;
	text-transform: uppercase;
}

.aside ul {
	margin: 0;
}

.aside a.active {
    color: #444;
}

@media (max-width: 768px) {
	.aside {
		padding-left: 1.5rem;
	}
}

/* tags */

.aside ul.tag-list {
	list-style-type: none;
	padding: 0;
}

.aside ul.tag-list li {
	display: inline-block;
}

.aside ul.tag-list li a {
	padding: 0 0.5rem 0 0;
}

.aside ul.tag-list li a.active {
	font-weight: bold;
	background-color: #68838b;
	color: #fff;
	padding: 0 0.5rem 0 0.5rem;
}

/* https://www.w3schools.com/colors/colors_trends.asp (The 10 Hottest Fall Colors for 2016) */

.tag-size-1 a {
	font-size: 1.0rem;
	/* Riverside  */
	color: #4C6A92;
}

.tag-size-2 a {
	font-size: 1.2rem;
	/* Airy Blue  */
	color: #92B6D5;
}

.tag-size-3 a {
	font-size: 1.4rem;
	/* Sharkskin  */
	color: #838487;
}

.tag-size-4 a {
	font-size: 1.6rem;
	/* Bodacious */
	color: #B76BA3;
}

.tag-size-5 a {
	color: #AF9483;
	/* Warm Taupe */
	font-size: 1.8rem;
}

.tag-size-6 a {
	color: #AD5D5D;
	/* Dusty Cedar */
	font-size: 2.0rem;
}

.tag-size-7 a {
	font-size: 2.2rem;
	/* Lush Meadow */
	color: #006E51;
}

.tag-size-8 a {
	font-size: 2.4rem;
	/* Spicy Mustard */
	color: #D8AE47;
}

.tag-size-9 a {
	font-size: 2.6rem;
	/* Potter's Clay */
	color: #9E4624;
}

.tag-size-10 a {
	font-size: 2.8rem;
	/* Aurora Red */
	color: #B93A32;
}

.tag-size-11 a {
	font-size: 3.0rem;
	/* Snorkel Blue */
	color: #034F84;
}

/* ---------- Footer ---------- */

.footer {
	background: #fff;
	color: #666;
	padding: 6rem 0;
	text-align: center;
	font-size: 1.2rem;
}

.footer p {
	margin: 0;
}
